<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}"
            fileName="${basedir}/logs/Log.current.log"
            archiveFileName="${basedir}/logs/archives/Log.{#}.log"
            archiveEvery="Day"
            archiveNumbering = "Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="9" />

    <target name="consoleout" xsi:type="ColoredConsole" layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} | ${exception:format=tostring}">
      <highlight-word foregroundColor="Green" regex="Hello World"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="NoChange" backgroundColor="DarkRed" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleout" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
